[submodule "src/wg_explorer"]
	path = src/wg_explorer
	url = https://github.com/robo-friends/m-explore-ros2
[submodule "src/wg_lidar"]
	path = src/wg_lidar
	url = https://github.com/ldrobotSensorTeam/ldlidar_ros2
[submodule "src/wg_pca9685_hw_interface"]
	path = src/wg_pca9685_hw_interface
	url = https://github.com/rosblox/pca9685_ros2_control
