[submodule "src/ros2_packages/slam_toolbox"]
	path = src/ros2_packages/slam_toolbox
	url = https://github.com/SteveMacenski/slam_toolbox
[submodule "src/ros2_packages/ldlidar_ros2_ws/src"]
	path = src/ros2_packages/ldlidar_ros2_ws/src
	url = https://github.com/ldrobotSensorTeam/ldlidar_ros2