[submodule "src/wg_explorer"]
	path = src/wg_explorer
	url = https://github.com/robo-friends/m-explore-ros2
[submodule "src/wg_lidar"]
	path = src/wg_lidar
	url = https://github.com/ldrobotSensorTeam/ldlidar_ros2
